.header{
    border: 1px solid rgb(235, 237, 240);
    background-color: #409eff;
}

#components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  
  .site-layout-background {
    background: #fff;
  }
.div1{
    height:30px;
}

.contentmain{
    height: 70vh;
}

.allp{
    text-align: center;
}

.divheight{
    height: 20px;
}