
.layoutpage{
    align-items: center;
}
.column{
    margin: 10vw;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background-color: #409eff;
  }

.content_mid{
    height:100%;
}
.space1{
    align: center;
    width: 100%;
}

.cardbasic{
    margin:0;
    top:10vh;
    left:34vw;
    right:34vw;
    width: 400px;
    height: 400px;
    cursor: default;
}
.h4center{
    font-size:x-large;
    font-family:"黑体";
    cursor:text;
    margin-left: 150px;
}
.pname{
    margin-left: 25px;
    cursor: text;
}
