.form-warp{
    display: inline;
    height: 50vh;
    width: 50vh;
    margin: 10vw;
    background-color: #ffffff;
    text-align:center;
    align-items: center;
}
.layoutpage{
    align-items: center;
}
.column{
    margin: 10vw;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
    background-color: #409eff;
  }

.content_mid{
    height:100%;
}
.space1{
    size: large;

}

.cardbasic{
    margin:0;
    top:10vh;
    left:30vw;
    right:30vw;
    width: 40vw;
    height: 60vh;
}

.site-page-header{
}